h1,div{
    background-color: bisque;
}
.rm{
    background-color: red;
}
.ph{
    background-color: yellow;
}
.ab{
    background-color: blue;
}
.vd{
    background-color: gold;
}
.sk{
    background-color: lightgreen;
}
#abc{
    background-color: aqua;
}
#xyz{
    background-color: pink;
}